<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.startupteam">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- To request foreground location access, declare one of these permissions. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_remarquer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_remarquer_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StartUpTeam"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoadingActivity"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Result_popup"
            android:label="@string/title_activity_result_popup"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/Theme.StartUpTeam.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.StartUpTeam.NoActionBar" />

        <service
            android:name=".ServerCommunicator"
            android:label=".ServerCommunicator"/>
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".MapActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- API KEY -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ca7e97ee9a50826a2ef734e8146020c0" />
    </application>

</manifest>